* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'US Navy';
  src: url('../fonts/usnavy/usnavy.ttf');
}

body {
  /* position: relative; */
  background-image: url(../res/images/battleship-bg.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Bree Serif', serif;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2.95rem;
  color: aliceblue;
}

header {
  background-color: black;
  height: 10vh;
  width: 100%;
  margin-bottom: 20px;
}

.main-container {
  flex-grow: 1;
  max-width: 90vw;
  width: 650px;
}

.player-container, .bot-container {
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  border: 25px solid black;
  border-radius: 20px;
  height: auto;
  /* width: 700px; */
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.player-container {
  transform: perspective(1400px) rotateX(40deg) scale(1.2) translateY(-100px);
}

.hinge {
  border-right: 40px black solid;
  border-left: 40px black solid;
  height: 25px;
  width: 200px;
  margin: 0 auto;

}
.screen {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}


.player-grid, .bot-grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  /* background-color: rgba(68, 125, 143, 0.2); */
  background-color: rgba(100, 127, 153, 0.6);
  /* mix-blend-mode: difference; */
  /* border: 2px black solid; */
}
/* .player-grid {
  background-color: rgba(68, 125, 143, 0.2);
  mix-blend-mode: difference;
}
.bot-grid {
  background-color: rgba(68, 125, 143, 0.2);
  mix-blend-mode: difference;
} */



.player-grid div, .bot-grid div {
  border: 2px rgba(0, 0, 0, 0.5) solid;
  padding: 0;
  flex-basis: 10%;
  height: 30px;
  width: 10%;
  text-align: justify;
}


.bot-grid div:hover {
  background-color: rgba(134, 14, 14, 0.5);
}

div.fleet-attacked {
  background-image: url('../res/images/explosion.svg');
  background-size: 100% 100%;
}

div.fleet-missed {
  background-image: url('../res/images/missed.svg');
  background-size: 100% 100%;
}

div.fleet-destroyed {
  background-image: url('../res/images/explosion.svg');
}

.default-grid-color {
  background-color: rgba(68, 125, 143, 0.2);
  mix-blend-mode: difference;
}

.player-grid div:hover {
  cursor: pointer;
}

.bot-grid div:hover {
  cursor: crosshair;
}


/* this is the highlight for the making the hover effect */
.grid-hightlight {
  background-color: rgba(255, 251, 0, 0.5);
}

/* this is the color to confirm the placement of the ship */
.grid-select {
  background-color: rgba(255, 251, 0, 0.8);
}


button {
  width: 90px;
  height: 40px;
  background-color: rgb(119, 136, 153);
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

button:active {
  transform: scale(0.95)
}

.ships {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ships div {
  font-family: Courier, 'Courier New', monospace;
  font-weight: bold;
  width: 140px;
  background-color: rgb(100, 127, 153);
  margin: 5px;
  border-radius: 5px;
}

.ships div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.ships div:active {
  transform: scale(0.95);
}

.ships span {
  margin: 5px 10px;
  font-family: 'US Navy';
  font-weight:normal;
  font-size: 30px;
  height: 60px;
  color: black;
}

.panel {
  background-color: black;
  text-align: center;
  min-height: 60px;
}

.arrow-up {
  border-left: none;
  border-right: none;
  border-bottom: 10px solid rgba(255, 251, 0, 0.5);
  /* clip-path: polygon(50% 0, 0 100%, 100% 100%); */
}
/* div.arrow-up:hover {
  border-bottom: 10px solid rgba(255, 251, 0, 0.5);
}
div.arrow-up:active {
  border-bottom: 10px solid rgba(255, 251, 0, 0.8);
} */

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

