* {
  box-sizing: border-box;
}

body {
  /* position: relative; */
  background-image: url(../res/images/battleship-bg.jpg);
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
/* 
body::after {
  background-image: url(../res/images/battleship-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
} */



.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 20px solid black;
  border-radius: 20px;
  padding: 5px;
  height: auto;
  width: 650px;
  max-width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @media only screen and (max-width: 1100px){
  .main-container {
    display: block;
  }
} */

.player-grid, .bot-grid {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 2px black double;
}

.player-grid {
  background-image: url('../res/images/computer-screen.gif');
  background-size: cover;
}

.player-grid div, .bot-grid div {
  border: 1px solid;
  flex-grow: 0;
  height: 10%;
  width: 10%;
}

.default-grid-color {
  background-color: rgba(49, 143, 172, 0.5);
}

.player-grid div:hover {
  cursor: pointer;
}

.bot-grid div:hover {
  cursor: crosshair;
}

.grid-hightlight {
  background-color: rgba(255, 251, 0, 0.6);
}

button {
  display: block;
  margin: 10px 0px;
  height: 50px;
  width: 80px;
  background-color: darkcyan;
}

.controls {
  margin: 20px;
}

.ships {
  margin-top: 40px;
}